body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #F9F7F7;
   font-family: Arial, Helvetica, sans-serif;
   
   
   
}

header{
    background-color: #DBE2EF;
    color: white;
    padding: 10px 0;
}

nav{
    display: flex;
    justify-content: left;
    gap: 10px;
    padding-left: 20px;
}

nav a{
    color: #F9F7F7;
    text-decoration: none;
    background-color: #3F72AF;
    border-radius: 10px;
    padding: 10px;
}

nav a:hover{
    background-color: #112D4E;
    color: #F9F7F7;
    
    
}

body[id ="terms-and-conditions"]{
    body{
        width: 100%;
        height: 100vh;
        background-color: #1b1b32;
        color: #f5f6f7;
        font-family: Tahoma;
        font-size: 16px;
    }
}

div[id ="AGB-Text"]{
    padding: 20px;
}

img[id = "bild"]{
    max-width: 60px;
    border-radius: 10px;
   
}

.NavBarText{
    position: sticky;
    text-align: center;
    padding-top: 10px ;
    font-family:Arial, Helvetica, sans-serif;
}


footer a{
    text-decoration: none;
    color: #F9F7F7;
    background-color: #3F72AF;
    padding: 20px;
    border-radius: 10px;
    

}

footer{
    background-color: #112D4E;
    position: sticky;
    display: flex;
    padding: 10px 10px;
    justify-content:center;
}

footer a:hover{
    background-color: #F9F7F7;
    color: #112D4E;

}